.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
coverage/

local.properties

.env*
!.env.example
.dev.vars*
!.dev.vars.example
*.keystore
*.jks
key.properties

media_proxy/.wrangler/
media_proxy/node_modules/
.wrangler

.idea/
.vscode/
*.iml
*.ipr
*.iws

.DS_Store
Thumbs.db
*.log